{% extends "layout.html" %}

{% block content %}
  
  <div class="page-header">
    <h1>Welcome to Twitter.js!</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="http://www.projectq.us/images/uploads/1c__archway_ryan-gosling-sexy-pics.jpg"><br>
      <b>Your Name</b><br>
      100 followers
    </div>
    <div class="col-md-9">
    
      <!-- display tweets here -->
      {% for tweet in tweets %}
      <li>{{tweet.content}, {tweets.name}}</li>    
      {% endfor %}
      
    </div>
  </div>
    
{% endblock %}
